.superlink {
	width: 38px;
	height: 38px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
	border-radius: 2px;
	background-color: var(--dashboard-bg-darkest);

	&.google {
		background-image: url("@Assets/google.svg");
	}

	&.stackoverflow {
		background-image: url("@Assets/stackoverflow.svg");
	}
}
